th {
  background-color: #002e69;
}


button {
  background: transparent;
  color: white;
  border: none;
  text-decoration: underline;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
background-color: rgb(192, 218, 235);
}

